
footer{
    background-color: #3d8361;
    padding-top: 2em;
    padding-bottom: 3em;
    
}

.siguenos{
    display: flex;
}

footer h4{
    padding-top: 1em;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.follow{
    padding-left: 10px;
    display: flex;
    justify-content:flex-start;
  
}

.redsocialimg{
    padding-left: 1em;
    width: 40px;
    transition: 1s;
}

.redsocialimg:hover{
    transform: scale(1);
}

.contact{
    padding-left: 5em;
    display: flex;
    justify-content: right;
}


