main{
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}


body h1{
    display: flex;
    flex: auto;
    box-sizing: border-box;
    max-width: 50%;
    text-align: center;
    text-decoration: dashed;
    border-color: black;
    border-style: double;
    border-width: 7px;
    border-radius: 30px;
}



body form{
    display: flex;
    margin: auto;
    width: 60%
}

body form label{
    padding: .3em;
    border-radius: 10px;
    width: 100%;
}


fieldset{
    display: flex;
    flex-direction: row;
    margin-top: .5em;
    border-top: .5em;
    border: 1px solid black;
}

fieldset legend{
    text-align: center;
    display: flex;
}

.submit-button{
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    width: 5em;

}