*{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}


body h1{
    flex: auto;
    box-sizing: border-box;
    max-width: 10em;
    text-align: center;
    text-decoration: dashed;
    border-color: black;
    border-style: double;
    border-width: 7px;
    border-radius: 30px;
    margin: auto;
    padding: auto;
}

body form{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 1em;
}

body form label{
    padding: .3em;
    border-radius: 10px;
}


fieldset{
    display: flex;
    margin-top: 1.5em;
    border-top: 1.5em;
    border: none;
}

fieldset legend{
    text-align: center;
}

fieldset legend details{
    display: flex;
    flex-direction: row;
    
}