*{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

body h1{
    padding: 1em 2em;
    text-align: center;
    text-decoration: dashed;
    box-sizing: border-box;
}

body form{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 1em;
}

body form label{
    padding: .3em;
    border-radius: 10px;
}