*{
    padding: 0;
    margin: 0;
}

main{
    background-image: url("../assets/Background.jpg");
    padding-bottom: 4em;
}


.man_desc{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    color: #fff;
}

.description_job{
    display: inline;
    box-sizing: content-box;
    padding-top: 2.5em;
    padding-right: 4em;
    margin-right: 4em;
    font-size: 2em;
}

.tools{
    width: 250px;
}

.logoregis{
    width: 150px;
    margin: .5em;
    background-color: rgba(255,255,255,0.6);
    border-radius: 50px;
    justify-content: right;
    margin-right: 6em;
}

.form_reg{
    font-size: 20px;
    margin-right: 2vw;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 5em;
    border-radius: 2px;
    width: auto;
}

.regist{
    border: 2px solid white;
    border-radius: 20px;

}

.terms{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    text-align: left;

}

.submit-button{
    padding: .5em;
    font-size: 20px;
}

@media screen and (max-width: 600px){

    .man_desc{
        display: flex;
        flex-direction: column;
    }

    .description_job{
        font-size: .5em ;
    }

    .tools{
        width: auto;
    }
}