*{
    padding: 0;
    margin: 0;
}

main{
    background-image: url("../assets/Background.jpg");
    padding-bottom: 4em;
}


.man_desc{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    color: #fff;
}

.description_job{
    display: inline;
    box-sizing: content-box;
    padding-top: 2.5em;
    padding-right: 4em;
    margin-right: 4em;
    font-size: 2.2vw;
}

.tools{
    width: 20%;
}

.logoregis{
    width: 150px;
    padding-bottom: 1em;
}

.form_reg{
    font-size: 20px;
    margin-right: 5vw;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 5em;
    border-radius: 2px;
    width: auto;
}

.regist{
    border: 2px solid white;
    border-radius: 20px;

}

.terms{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    text-align: left;

}

.submit-button{
    padding: .5em;
    font-size: 20px;
}

#reloj { width: 150px; height: 30px; padding: 5px 10px; border: 1px solid black; 
    font: bold 1.5em dotum, "lucida sans", arial; text-align: center;
    float: right; margin: 1em 3em 1em 1em; }